@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  /* font-family: "Lato", sans-serif;
   */
  /* font-family: "Inter", sans-serif;
   */
  /* font-family: "Montserrat", sans-serif;
   */
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

@layer components {
  .text-accent {
    @apply text-green-500;
  }
  .text-gray {
    @apply text-gray-200;
  }
  .bg-primary {
    @apply bg-white;
  }
  .bg-accent {
    @apply bg-green-500;
  }
  .bg-accent-light {
    @apply bg-green-100;
  }

  /* Dark Mode Variables */
  .text-dark {
    @apply text-[#dcdbdb];
  }
  .bg-dark {
    /* @apply bg-[#333333]; */
    @apply bg-black;
  }

  .bg-dark-light {
    @apply bg-[#212121d0];
  }

  .bg-dark-lighter {
    @apply bg-[#2c2c2c];
  }

  .border-dark {
    @apply border-[#f7f7f723];
  }

  /* Buttons */
  .btn-primary {
    @apply bg-accent text-white rounded-full hover:bg-green-700 duration-150;
  }
}
